################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Forme_Moderne
/bin/Debug
/img
/obj/Debug
/Properties
